{% extends "base.html" %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=po8JlsJs5W18L7GArJBDK5drZocbgJ116JTpWVN3"></script>
<script defer src="{% static 'navigation/js/navi.js' %}"></script>
<script src="{% static 'walking_mode/js/walking_mode.js' %}"></script>
<script src="{% static 'sensor/js/sensor.js' %}"></script>
{% endblock extra_head %} {% block content %}
<main>
  <div style="display: none">
    <div id="map" style="height: 400px"></div>
    <p id="location" style="display: none">Location: Loading...</p>
    <p id="accelerometer" style="display: none">Accelerometer: Loading...</p>
    <p id="gyroscope" style="display: none">Gyroscope: Loading...</p>
    <p id="fall_recognition" style="display: none">fall_recognition: Loading...</p>
    <video id="video" width="640" height="480" style="display: none"></video>
    <canvas id="canvas" width="640" height="480" style="display: none"></canvas>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var routeData = localStorage.getItem("routeData");
      if (routeData) {
        var walkLink = document.querySelector(".navi");
        if (walkLink) {
          walkLink.classList.add("active");
        }
      }

      var walking_mode = localStorage.getItem("walking_mode");
      if (walking_mode === "true") {
        var walkstatus = document.querySelector(".walk");
        if (walkstatus) {
          walkstatus.classList.add("active");
        }
      }
    });
  </script>

  <div class="wrapper_a">
    <a class="walk" , href="/walking_mode/">보행 모드</a>
  </div>
  <div class="wrapper_a">
    <a class="navi" href="/nav/">길 안내</a>
  </div>
  <div class="wrapper_a">
    <a href="/record/break/{{user.id}}">시설 파손</a>
  </div>
  <div class="wrapper_a">
    <a href="/record/accident/{{user.id}}">사고 확인</a>
  </div>
  <div class="wrapper_a">
    <a href="/qna/">문의 게시판</a>
  </div>
</main>
{% endblock content %}
