{% extends "base.html" %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'walking_mode/css/index.css' %}" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=po8JlsJs5W18L7GArJBDK5drZocbgJ116JTpWVN3"></script>
<script defer src="{% static 'navigation/js/navi.js' %}"></script>
{% endcomment %} {% endblock extra_head %} {% block content %}
<main>
  <div class="switchCondition">
    <span class="switchTxt switchOff">Off</span>
    <span class="switchTxt">/</span>
    <span class="switchTxt switchOn">On</span>
  </div>
  <!-- Rounded switch -->
  <label class="switch">
    <input type="checkbox" id="toggleSwitch" />
    <span class="slider round"></span>
  </label>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function adjustSwitchSize() {
      const switchElement = document.querySelector(".switch");
      const sliderElement = switchElement.querySelector(".slider");
      const switchWidth = switchElement.offsetWidth;
      const switchHeight = (switchWidth * 34) / 60;
      const sliderButtonSize = switchHeight - 8;
      const translateXValue = switchWidth - switchHeight;

      // Set the height and border-radius dynamically
      switchElement.style.height = `${switchHeight}px`;
      sliderElement.style.borderRadius = `${switchHeight / 2}px`;
      sliderElement.style.height = `${switchHeight}px`;

      // Create a new style element
      const style = document.createElement("style");
      document.head.appendChild(style);
      const styleSheet = style.sheet;

      // Add the ::before pseudo-element styles dynamically
      styleSheet.insertRule(
        `
        .switch .slider::before {
          height: ${sliderButtonSize}px;
          width: ${sliderButtonSize}px;
          left: 4px;
          bottom: 4px;
          border-radius: 50%;
        }
      `,
        styleSheet.cssRules.length,
      );

      styleSheet.insertRule(
        `
        .switch input:checked + .slider::before {
          transform: translateX(${translateXValue}px);
        }
      `,
        styleSheet.cssRules.length,
      );
    }

    function adjustFontSize() {
      const switchElement = document.querySelector(".switch");
      const switchWidth = switchElement.offsetWidth;
      const fontSize = switchWidth * 0.2; // 폰트 사이즈를 .switch 너비의 20%로 설정
      const switchTxtElements = document.querySelectorAll(".switchTxt");
      switchTxtElements.forEach(function (switchTxt) {
        switchTxt.style.fontSize = `${fontSize}px`;
      });
    }

    adjustSwitchSize();
    adjustFontSize();

    window.addEventListener("resize", function () {
      adjustSwitchSize();
      adjustFontSize();
    });

    function updateTextColor() {
      const checkbox = document.getElementById("toggleSwitch");
      const switchOff = document.querySelector(".switchOff");
      const switchOn = document.querySelector(".switchOn");

      if (checkbox.checked) {
        switchOff.style.color = "#c2c2c2";
        switchOn.style.color = "#337614";
      } else {
        switchOff.style.color = "#e01b41";
        switchOn.style.color = "#c2c2c2";
      }
    }

    updateTextColor();
    // Add event listener for the checkbox
    const checkbox = document.getElementById("toggleSwitch");
    checkbox.addEventListener("change", updateTextColor);
  });
</script>
{% endblock content %}
