{% extends "base.html" %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'walking_mode/css/index.css' %}" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=po8JlsJs5W18L7GArJBDK5drZocbgJ116JTpWVN3"></script>
<script defer src="{% static 'navigation/js/navi.js' %}"></script>
<script defer src="{% static 'sensor/js/sensor.js' %}"></script>
<script defer src="{% static 'walking_mode/js/walking_mode.js' %}"></script>
{% endblock extra_head %} {% block content %}
<main>
  <div class="switchCondition">
    <span class="switchTxt switchOff">Off</span>
    <span class="switchTxt">/</span>
    <span class="switchTxt switchOn">On</span>
  </div>
  <!-- Rounded switch -->
  <label class="switch">
    <input type="checkbox" id="toggleSwitch" />
    <span class="slider round"></span>
  </label>

  <div style="display: none">
    <div id="map" style="height: 400px"></div>
    <h1>Object Detection</h1>
    <p id="object_detection">Detection: Loading...</p>
    <p id="recording-status">Recording status: Not recording</p>
    <p id="sensoring-status">Secording status: Not sensoring</p>
    <p id="location">Location: Loading...</p>
    <p id="accelerometer">Accelerometer: Loading...</p>
    <p id="gyroscope">Gyroscope: Loading...</p>
    <p id="fall_recognition">fall_recognition: Loading...</p>
    <button id="start-sensor">Start sensor</button>
    <button id="stop-sensor">Stop sensor</button>
    <button id="start-camera">Start Camera</button>
    <button id="stop-camera">Stop Camera</button>

    <h2>Video</h2>
    <video id="video" width="640" height="480" style="display: block"></video>
    <canvas id="canvas" width="640" height="480" style="display: none"></canvas>

    <h2>Annotated Image</h2>
    <img id="annotated-image" width="640" height="480" style="display: none" />

    <h2>Audio Description</h2>
    <div id="audio-container"></div>
    <audio id="alert-sound" src="media/audios/alert_sound.mp3"></audio>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var routeData = localStorage.getItem("routeData");
    if (routeData) {
      var walkLink = document.querySelector(".navi");
      if (walkLink) {
        walkLink.classList.add("active");
      }
    }

    var walking_mode = localStorage.getItem("walking_mode");
    if (walking_mode === "true") {
      var walkstatus = document.querySelector(".walk");
      if (walkstatus) {
        walkstatus.classList.add("active");
      }
    }

    function adjustSwitchSize() {
      const switchElement = document.querySelector(".switch");
      const sliderElement = switchElement.querySelector(".slider");
      const switchWidth = switchElement.offsetWidth;
      const switchHeight = (switchWidth * 34) / 60;
      const sliderButtonSize = switchHeight - 8;
      const translateXValue = switchWidth - switchHeight;

      // Set the height and border-radius dynamically
      switchElement.style.height = `${switchHeight}px`;
      sliderElement.style.borderRadius = `${switchHeight / 2}px`;
      sliderElement.style.height = `${switchHeight}px`;

      // Create a new style element
      const style = document.createElement("style");
      document.head.appendChild(style);
      const styleSheet = style.sheet;

      // Add the ::before pseudo-element styles dynamically
      styleSheet.insertRule(
        `
        .switch .slider::before {
          height: ${sliderButtonSize}px;
          width: ${sliderButtonSize}px;
          left: 4px;
          bottom: 4px;
          border-radius: 50%;
        }
      `,
        styleSheet.cssRules.length,
      );

      styleSheet.insertRule(
        `
        .switch input:checked + .slider::before {
          transform: translateX(${translateXValue}px);
        }
      `,
        styleSheet.cssRules.length,
      );
    }

    function adjustFontSize() {
      const switchElement = document.querySelector(".switch");
      const switchWidth = switchElement.offsetWidth;
      const fontSize = switchWidth * 0.2; // 폰트 사이즈를 .switch 너비의 20%로 설정
      const switchTxtElements = document.querySelectorAll(".switchTxt");
      switchTxtElements.forEach(function (switchTxt) {
        switchTxt.style.fontSize = `${fontSize}px`;
      });
    }

    adjustSwitchSize();
    adjustFontSize();

    window.addEventListener("resize", function () {
      adjustSwitchSize();
      adjustFontSize();
    });

    function updateTextColor() {
      const checkbox = document.getElementById("toggleSwitch");
      const switchOff = document.querySelector(".switchOff");
      const switchOn = document.querySelector(".switchOn");

      if (checkbox.checked) {
        switchOff.style.color = "#c2c2c2";
        switchOn.style.color = "#337614";
      } else {
        switchOff.style.color = "#e01b41";
        switchOn.style.color = "#c2c2c2";
      }
    }

    // 함수 정의: 센서 및 카메라 시작
    function startSensorAndCamera() {
      document.getElementById("start-sensor").click();
      document.getElementById("start-camera").click();
    }

    // 함수 정의: 센서 및 카메라 중지
    function stopSensorAndCamera() {
      document.getElementById("stop-sensor").click();
      document.getElementById("stop-camera").click();
    }

    // 토글 스위치 상태 변경 이벤트 핸들러
    function toggleSwitchHandler() {
      const checkbox = document.getElementById("toggleSwitch");
      if (checkbox.checked) {
        startSensorAndCamera();
      } else {
        stopSensorAndCamera();
      }
    }

    updateTextColor();
    toggleSwitchHandler();

    // Add event listener for the checkbox
    const checkbox = document.getElementById("toggleSwitch");
    checkbox.addEventListener("change", function () {
      updateTextColor();
      toggleSwitchHandler();
    });
  });
</script>
{% endblock content %}
