<!doctype html>
<html>
  <head>
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
    {% load static %}
    <script src="{% static 'sensor/js/sensor.js' %}"></script>
    <script src="{% static 'walking_mode/js/walking_mode.js' %}"></script>
  </head>
  <body>
    <h1>Object Detection</h1>
    <p id="object_detection">Detection: Loading...</p>
    <p id="recording-status">Recording status: Not recording</p>
    <p id="sensoring-status">Secording status: Not sensoring</p>
    <p id="location">Location: Loading...</p>
    <p id="accelerometer">Accelerometer: Loading...</p>
    <p id="gyroscope">Gyroscope: Loading...</p>
    <p id="fall_recognition">fall_recognition: Loading...</p>
    <button id="start-sensor">Start sensor</button>
    <button id="stop-sensor">Stop sensor</button>
    <button id="start-camera">Start Camera</button>
    <button id="stop-camera">Stop Camera</button>

    <h2>Video</h2>
    <video id="video" width="640" height="480" style="display: block"></video>
    <canvas id="canvas" width="640" height="480" style="display: none"></canvas>

    <h2>Annotated Image</h2>
    <img id="annotated-image" width="640" height="480" style="display: none" />

    <h2>Audio Description</h2>
    <div id="audio-container"></div>
    <audio id="alert-sound" src="media/audios/alert_sound.mp3"></audio>
  </body>
</html>
