main {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  padding: 70px 34px 20px;
  overflow: hidden;
}

.qnaheader {
  display: flex;
  width: 100%;
  max-width: 768px;
  align-items: center;
  position: relative;
}

.qnaheader .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  color: #337614;
  font-size: 24px;
  font-weight: 700;
}

.qnaheader .filter {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

/* 반응형 디자인: 화면이 좁아질 때 */
@media (max-width: 500px) {
  .qnaheader {
    justify-content: space-between;
  }

  .qnaheader .title {
    left: auto;
    position: static;
    transform: none;
  }

  .qnaheader .filter {
    margin-left: auto;
  }
}

.filter > * {
  height: 30px;
  color: #337614;
  font-weight: 700;
  cursor: pointer;
}
#filter {
  border-color: #337614;
  border-radius: 4px;
  border-width: 2px;
}

.acpbtn {
  padding: 0px 3px;
  background-color: #fff;
  border-color: #337614;
  border-radius: 4px;
}
.acpbtn:hover {
  background-color: #e6f5df;
}

.question_list {
  position: relative; /* 위치 조정을 위해 relative 속성을 추가합니다 */
  width: 100%;
  max-width: 768px;
  height: 430px; /* 최대 높이 설정 */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #00000080;
  gap: 5px;
  overflow-y: auto; /* 스크롤 추가 */
}

.question_list > * {
  color: #193b08;
}
.eachQ {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #193b08;
  cursor: pointer;
  font-weight: 700;
  width: 100%; /* 부모 요소의 최대 너비 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
}
.eachQtitle {
  width: 100%; /* 부모 요소의 최대 너비 설정 */
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 말줄임표로 표시 */
}
.eachQ:hover {
  color: #337614;
}
.eachQunder,
.eachQunder > * {
  font-size: 15px;
  text-align: right;
  font-weight: 400;
}

.eachQ hr {
  border-color: #c2c2c2;
}
.eachQ:visited hr {
  border-color: #c2c2c2;
}

.createQ {
  text-decoration: none;
  font-size: 40px;
  color: #ffffff;
  text-shadow:
    -1px 0px #000000,
    0px 1px #000000,
    1px 0px #000000,
    0px -1px #000000,
    2px 2px 5px #00000080;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;

  padding: 10px 0;
  width: 100%;
  max-width: 768px;
  background-color: #a0ce8a;
  cursor: pointer;
}
.createQ:hover {
  background-color: #76b559;
}

#pagination {
  position: absolute; /* 부모 요소인 .question_list를 기준으로 위치를 고정합니다 */
  bottom: 10px; /* 아래쪽에서 10px 위로 */
  left: 50%; /* 좌우 중앙 정렬 */
  transform: translateX(-50%); /* 중앙 정렬 보정 */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#pagination button {
  border: 1px solid #337614;
  background-color: #fff;
  color: #337614;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

#pagination button.active {
  background-color: #337614;
  color: #fff;
}

#pagination button:hover {
  background-color: #e6f5df;
}
